body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: #d97706;
  margin: 10px 0;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  position: relative; /* Permet de positionner le bouton et le calendrier au-dessus de l'image */
  background: url("https://imgur.com/KgIyOJL.jpg") no-repeat center center;
  background-size: cover;
  box-sizing: border-box;
}

.snow {
  position: absolute; /* Permet de placer la neige au-dessus de l'image */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Assure que la neige n'interfère pas avec les éléments interactifs */
  z-index: 0; /* Met la neige en dessous du contenu interactif */
}

.snowflake {
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  animation: fall 5s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(100vh); /* La neige tombe à travers l'écran */
  }
}

.calendar {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 10px;
  padding: 20px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative; /* Permet de positionner le bouton et le calendrier correctement par-dessus */
  z-index: 1; /* Met le calendrier au-dessus de la neige */
}

.calendar-day {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.calendar-day.past {
  background-color: #f4a261;
  color: white;
  position: relative;
  cursor: not-allowed;
  text-decoration: line-through;
  opacity: 0.7;
}

.calendar-day.today {
  background-color: #e76f51;
  color: white;
  cursor: pointer;
}

.calendar-day.future {
  background-color: #1c1c1c;
  color: white;
  opacity: 0.5;
  cursor: not-allowed;
}

.open-grooming-button {
  position: absolute;
  bottom: 20px; /* Positionne le bouton un peu plus haut que le bas */
  left: 50%;
  transform: translateX(-50%);
  background-color: #e5b323;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 2; /* Assure que le bouton reste au-dessus des autres éléments */
  text-decoration: none;
}

.open-grooming-button:hover {
  background-color: #87670b;
  transform: translateX(-50%) scale(1.05);
  text-decoration: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.event {
  color: #1a1a1a;
  font-size: 31px;
  font-weight: 700;
  position: absolute;
  top: -35vh;
  z-index: 1;
}
